<nav class="navbar navbar-expand-sm bg-light">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <!-- Mostramos el id del JSON -->
      <a class="nav-link" href="#">
        Home
      </a>
      <!-- Con la pipe async conseguimos suscribirnos sin necesidad de hacerlo en app.component.ts -->
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/proyectos">Proyectos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/quienes">Quiénes somos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contacto">Contacto</a>
    </li>
  </ul>
</nav>

<ng-container *ngFor="let dato of (apiContent | async), let i = index" style="list-style: none;">
  <p>Posición {{i}}:</p>
  <ul>
    <li style="list-style: none;">
      userId: {{dato.id}}<br>
      id: {{dato.id}} <br>
      title: {{dato.title}} <br>
      completed: {{dato.completed ? 'Si' : 'No'}}
    </li>
  </ul>
</ng-container>

<div *ngIf="ObservableApi | async as data">
  <!-- Llamamos a data -->
  <p>{{data.api_1 | json}}</p>
  <p>{{data.api_2 | json}}</p>
</div>

<router-outlet></router-outlet>